.wrapper {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    background-color: var(--white);
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--default-layout-width-content);
    height: 100%;
    padding: 0 var(--default-layout-horizontal-spacer);
}

// Logo
.logo-link {
    display: flex;
    align-items: center;
}

// Right Area - Action

.action {
    display: flex;
    align-items: center;
}

.more-btn {
    display: inline-block;
    font-size: 1.8rem;
    margin-left: 28px;
    padding: 4px 8px;
    cursor: pointer;
}

// When user login

.user-img {
    width: 32px;
    height: 32px;
    margin-left: 20px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.action-btn {
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding: 4px;
    margin-left: 14px;
    cursor: pointer;
}

.notify {
    position: relative;
}

.inbox-notify {
    position: absolute;
    top: 2px;
    right: 0;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: red;
    color: var(--white);
    padding: 2px 4px;
    border-radius: 20px;
}